<%= render 'navigation' %>
<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Tabel Analisis Teks</h4>
                  <p class="card-category"> Ini adalah data tabel Teks</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">

<div class="container">
  <div class="row">
    <%= link_to 'Tambah Data', new_tfidf_text_path, class: 'btn btn-success' %>
    <p></p>
    <!-- <table class="table table-bordered table-hover table-responsive"> -->
      <thead>
      <tr>
        <th class="text-center">Id User</th>
        <th class="text-center">Teks Kutipan</th>
        <th class="text-center">Teks Sumber Kutipan</th>
        <th class="text-center">Aksi</th>
      </tr>
      </thead>
      <tbody>
      <% @tfidf_text.each do |tf| %>
          <tr>
            <td><%= tf.user_id %></td>
            <td><%= tf.text_1 %></td>
            <td><%= tf.text_2 %></td>
            <td class="text-center">
              <%= link_to 'Analysis', analysis_tfidf_text_path(tf), class: 'btn btn-default' %>
              <%= link_to 'Edit', edit_tfidf_text_path(tf), method: :get ,class: 'btn btn-success' %>
              <%= link_to 'Delete',tfidf_text_path(tf), method: :delete, data: {confirm: 'Data Dihapus ? '}, class: 'btn btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>