<!DOCTYPE html>
<html>
  <head>
    <title>Tfcosine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/sidebar' %>
    <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <span class="bmd-form-group"><div class="input-group no-border">
                
                </button>
              </div></span>
            </form>
            
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <%= yield %>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            <script>
            </script> <i class="material-icons"></i> 
            <a href="https://www.creative-tim.com" target="_blank"></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html> 